html,body{
    margin: 0;
    background-repeat: no-repeat;
    background-color: rgb(235, 235, 235);
} 

nav {
    background-color: rgb(76, 117, 76);

}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.nav-button {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: rgb(76, 117, 76);
    box-sizing: border-box;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    transition: 1s;
}

#nav-buttons {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
}

.nav-button:hover {
    background-color: rgb(197, 182, 48);
    cursor: pointer;
    color: black;
    transition: 1s;
}

.small-logo {
    height: 70px;
    width: 35px;
    padding: .5rem;
}

.logo {
    max-height: 200px;
    max-width: 650px;
    align-self: center;
}

.main-card {
    border: rgb(197, 182, 48) 5px solid;
    background-color: rgb(221, 213, 143);
    color: rgb(119, 75, 50);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.sub-card {
    border: rgb(76, 117, 76) 5px solid;
    background-color: rgb(221, 213, 143);
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.33rem;
}

.cards {
    display: grid;
    gap: 1em;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: .5rem;
}

#logo {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

a {
    color:rgb(42, 99, 42);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

footer {
    background-color: black;
    color: aliceblue;
}