html,body{
    margin: 0;
    background-repeat: no-repeat;
    background-color: rgb(230, 225, 204);
} 

nav {
    background-color: rgb(76, 117, 76);

}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.nav-button {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: rgb(76, 117, 76);
    box-sizing: border-box;
    color: rgb(230, 225, 204);
    border: none;
    border-radius: 5px;
    transition: 1s;
}

#nav-buttons {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
}

.nav-button:hover {
    background-color: rgb(197, 182, 48);
    transform: translate3d(0, -1px, 0) scale(1.05);
    box-shadow: 0 0 1rem rgb(197, 182, 48);
    cursor: pointer;
    color: black;
    transition: 1s;
}

.small-logo {
    height: 70px;
    width: 35px;
    padding: .5rem;
}

.logo {
    max-height: 200px;
    max-width: 650px;
    align-self: center;
}

.main-card {
    border: rgb(197, 182, 48) 5px solid;
    background-color: rgb(221, 213, 143);
    color: rgb(14, 75, 77);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-img {
    height: 100%;
    margin-right: 5rem;
    min-height: 200px;
    min-width: 500px;
}

.main-text > ul { 
    font-size: larger;
}

.main-text > h1 {
    font-weight: bolder;
    font-size: 1.5rem;
}

.sub-card {
    border: rgb(76, 117, 76) 5px solid;
    background-color: rgb(221, 213, 143);
    border-radius: 1rem;
    padding: 1rem 1.5rem 2rem;
    margin: 0.33rem 0.33rem 1rem;
    color: rgb(100, 44, 21);
}

.sub-card > p {
    padding-left: 1rem;
}

.sub-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.card {
    line-height: 1.5rem;
}

.card:hover {
    box-shadow: 0 .5rem 1rem rgb(100, 44, 21);
    transition: 1.5s;
}

.sub-card:hover {
    box-shadow: 0 .5rem 1rem rgb(24, 73, 53);
    transition: 1.5s;
}

ul {
    list-style-type: circle;
}

.cards {
    display: grid;
    gap: 1em;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: .5rem;
}

@media (max-width: 1000px) {
    .cards {
        display: grid;
        gap: 1em;
        grid-auto-flow: row;
        grid-auto-columns: 1fr;
        padding: .5rem;
    }

    .sub-card {
        display: flex;
        flex-direction: row;
    }

    .sub-img {
        display: block;
        margin-left: 1rem;
        margin-right: 2rem;
        width: 50%;
    }
}
#logo {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

a {
    color:rgb(42, 99, 42);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

footer {
    background-color: black;
    color: rgb(230, 225, 204);
}