html,body {
    background-color: rgb(243, 242, 250);
    background-repeat: no-repeat;
    margin: 0;
}

nav {
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-items: flex-start;
    padding: 0.75rem 1rem;
    border-bottom: .25rem solid rgb(150, 150, 150);
    width: 100%;
}

.nav-links {
    margin-right: 5rem;
}

.small-logo {
    width: 250px;
    height: 30px;
    align-self: center;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    max-width: 600px;
    max-height: 300px;
    padding: 2rem;
}

ul {
    list-style-type: none;
    flex-wrap: wrap;
}

.nav-button {
    border-radius: 5px;
    padding: 1rem 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-button:hover {
    color: rgba(32, 32, 32, 0.8);
    background-color: rgba(204, 198, 243, 0.8);
    transition: 2s;
}

.nav-button:actve {
    color: rgba(32, 32, 32, 0.5);
    background-color: rgba(204, 198, 243, 0.5);
    transition: 2s;
}

button {
    background-color: transparent;
    border: 2px none;
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
    color: rgb(222, 243, 241);
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color:rgb(167, 238, 211);
}

a:hover {
    text-decoration: underline;
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.card {
    background-color: rgb(183, 174, 240);
    color:rgb(243, 242, 250);
    border: 3px solid rgb(157, 145, 231);
    border-radius: 10px;
    margin: 0 .5rem 1.5rem;
}

.main-card  p {
    font-size: 1.5rem;
}

.main-card {
    background-image: url("src/jewelry.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:rgb(32, 32, 32);
    line-height: 2.5rem;
}

.card p {
    padding-left: 1rem;
}

.card:hover {
    transform: translate3d(0, -1px, 0) scale(1.02);
    box-shadow: 0px 0px 1.5rem rgb(34, 33, 33);
    transition: 2s;
}

.content {
    padding: 2rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

.sub-card {
    width: 33.33%;
    flex-grow: 1;
}

footer {
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    align-items: center;
    color:rgb(243, 242, 250);
    border-top: .25rem solid rgb(150, 150, 150);
}