html,body {
    background-color: #151515;
    margin: 10px;
}


.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 40px;
}


.logo {
    height: 400px;
    width: 400px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

.card {
    padding: 8px;
    background-color: #282828;
    color: whitesmoke;
    box-shadow: 3px 3px 8px gray;
    border-radius: 1rem;
    line-height: 1.5rem;
}