html,body {
    background-color: #151515;
    margin: 10px;
    background-repeat: no-repeat;
    color: whitesmoke;
}

img {
    display: block;
    margin: 1rem auto 2rem;
}

.logo {
    height: 300px;
    width: 400px;
}

nav {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(46, 46, 46);
    border-radius: 2rem;
    margin-bottom: 3rem;
}

nav > ul {
    margin: 0;
    padding: 5px;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

ul {
    list-style-type: none;
}

a > button {
    letter-spacing: .5rem;
    text-align: center;
    padding: .5rem;
    border: 2px none;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0);
    color: whitesmoke;
    font-weight: bolder;
    font-size: large;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: 2s;
}

button:active {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0  1rem rgb(83, 74, 74);
    transition: 1s;
}

h1 {
    font-size: 2.5rem;
}

.card {
    padding: 8px;
    background-color: #282828;
    color: whitesmoke;
    box-shadow: 0 3px 12px rgb(83, 74, 74);
    border-radius: 1rem;
    line-height: 2rem;
    margin: 1rem 0.5rem;
    
}

.main-card {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2.5rem;
}

.sub-card {
    margin: 0.8rem;
    justify-items: stretch;
}

.cols {
    display: grid;
    grid-auto-flow: column;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: antiquewhite; */
    border-top: 5px solid rgb(65, 63, 63);
    margin-top: 2rem;
}

footer > div {
    padding: 0 0.8rem;
}
.footer-logo {
    justify-self: start;
}

.small-logo {
    height: 25px;
    width: 150px;
}

.copyright {
    justify-self: end;
}